<div class="admin-contest-attempt">
	<div class="sidebar">
		<div ng-class="['question-list']" ng-repeat="item in [1,2,3,4]">
			<span 
				ng-class="['mark',
					{'correct': contestAttempt.activeQuestion.completed},
					{'attempted':contestAttempt.activeQuestion.inProgress},
					{'unAttempted':contestAttempt.activeQuestion.unAttempted}]">
				<i class="material-icons">done</i>
			</span>
			<span class="question">{{item}}</span>
		</div>
	</div>
	<div class="content">
		<span class="timer">
			some time
		</span>

		<div class="que-title">
			5 horce problam
		</div>

		<div class="que-statment">
			5 horce problem
		</div>

	</div>
</div>
