.body{
    background: #eee;
    font-family: Roboto;
    font-weight: 300;
}
.card-wpr{ 
    margin-top: 5%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
    padding: 0px 40px;
}
.card-search{
    float: right;
    color: black;
    font-weight: 300;
    font-family: Roboto;
    font-size: 25px;
    line-height: 2em;
}
.card-title{
    font-size: 35px;
    font-weight: 300;
    font-family: Roboto;
    padding: 20px 0px;
    color: #3F51B5;
}
.card-search-input{
    line-height: 1.0em;
    margin-left: 20px;
}
/*
.table-wpr{
    max-height:300px;
    overflow-y:scroll;
    margin-bottom:20px
}
*/
.table-head-arrow{
    float: right;
    position: relative;
    left: -5%;
}
.new-cond-wpr{
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 30px;
}
.apply-condition{
    margin-left: 20px;
}
.display-cond-wpr{
    background: #eee;
    padding: 15px;
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
    font-family: Roboto;
}
.display-cond-pill{
    background: rgba(51,122,183,0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0px 5px;
}
.info-text{
    font-size: 15px;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom:15px
}

/*font class*/
.Red{color:#f44336}
.Green{color:#4CAF50}
.Blue{color:#3F51B5}
.Yellow{color:#FFEB3B}

/*Table Header Fix*/
tbody {
	width: 100%; float: left; display: block; overflow-y: scroll; max-height: 300px;
}

tr {
	width: 100%; height: auto; float: left; display: block;
}
td {
	width: 25%; float: left; display: block;
}
th {
	width: 25%; float: left; display: block;
}
table {
	width: 100%;
}