<div class="admin-contest">
	<div class="type-tabs">
		<span
			ng-class="['types', {'active' : (adminContest.typeSelected == item)}]"
			ng-repeat="item in adminContest.type"
			ng-click="adminContest.typeSelected = item">
				{{item}}
		</span>
	</div>
	<div class="f-card-holder">
		<div class="row">
			<div class="col-md-4" ng-repeat="item in adminContest.list" ng-if="adminContest.typeSelected == 'All' || adminContest.typeSelected == item.status">
				<div class="f-card">
					<p>{{item.name}}</p>
					<span>{{item.participants}}</span>
					<span>{{item.isActive}}</span>
					<span>{{item.endsIn}}</span>
					<span>{{item.startIn}}</span>
					<span class="info-pill">{{item.status}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
