.admin-contest-result{
	margin: 0 auto;
	width:80%;
	.back-to-list{
		border-bottom: 1px solid $dark-border;
		padding-bottom: 10px;
		.page-title{
			margin-left: 10px;
			font-size: 28px;
		}
	}
	.list-header{
		font-size: 12px;
	}
}