<header class="header-wpr">
    <nav class="primary-header">
        <div class="container">
            <div class="row">
            	<img class="via-logo img-responsive" src="assets/images/via-travel_logo.png" alt="">
            </div>
        </div>
    </nav>
    <nav class="secondary-header">
        <div class="container">
            <div class="row">
                <div ng-click="changeOpenFilterKey('price')" class="col-xs-2 col-sm-2 col-md-2 filter-sections">
                    <div class="filter-title">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                        <span>Price</span>
                    </div>
                    <div class="cpointer">
                        {{priceFilter.from}} - {{priceFilter.to}}
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </div>
                    <div ng-show="openFilterKey == 'price'" ng-click="absDivClick($event)" class="price-filter-abs">
                        <div class="price-from">
                            <span class="pull-left">From: </span>
                            <input class="pull-right" type="text" type="number" ng-model="priceFilter.from">
                        </div>
                        <div class="price-to">
                            <span class="pull-left">To: </span>
                            <input class="pull-right" type="text" type="number" ng-model="priceFilter.to">      
                        </div>
                        <button class="btn btn-primary" ng-click="filterList()">Apply</button>
                    </div>
                </div>
                <div ng-click="changeOpenFilterKey('stops')" class="col-xs-2 col-sm-2 col-md-2 filter-sections">
                    <div class="filter-title">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>Stops</span>
                    </div>
                    <div class="cpointer">
                        <span ng-repeat="(key, value) in stops track by $index">
                            <span ng-if="value">{{key}},
                            </span>
                        </span>
                        Stops
                        <i class="fa fa-caret-down pull-right" aria-hidden="true"></i>
                    </div>
                    <div ng-show="openFilterKey == 'stops'" ng-click="absDivClick($event)" class="price-filter-abs">
                        <ul class="no-style">
                            <li ng-repeat="(key, value) in stops">
                                <input type="checkbox" ng-model="stops[key]"><span></span>
                                {{key}} Stops
                            </li>
                        </ul>
                        <button class="btn btn-primary" ng-click="filterList()">Apply</button>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 filter-sections">
                    <div class="filter-title">Time</div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 filter-sections">
                    <div class="filter-title">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <span>Airlines</span>
                    </div>
                    <div>
                        <select 
                            class="carrier-filter-list cpointer" 
                            ng-options="item for item in carrierSet" 
                            ng-model="filteredCarrier" 
                            ng-change="filterList()">    
                        </select>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 filter-sections">
                    <div class="filter-title">Itenaries</div>
                </div>
                <div ng-click="reset()" class="col-xs-2 col-sm-2 col-md-2 reset-filters cpointer filter-sections">
                    <i class="fa fa-undo" aria-hidden="true"></i> Clear Filters
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="content-wpr">
    <div class="container">
        <div class="flight-count">
            <span>{{flightList.onwardJourneys.length}} Flight Results</span>
            <!-- <span class="pull-right">Previous Day, Next Day</span> -->
        </div>
        <div class="sorting-func" ng-init="currentSort = 'Price'">
            <div class="list-item depTime cpointer" ng-click="changeSort('flights[0].depDetail.time', 'Depart')">
                <span ng-class="{'active-sort': currentSort == 'Depart'}">Depart</span>
                <span ng-if="currentSort == 'Depart'">
                    <i ng-if="reverseSort" class="fa fa-angle-up" aria-hidden="true"></i>
                    <i ng-if="!reverseSort" class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
            <div class="list-item fltDur cpointer" ng-click="changeSort('journeyInfo[0].journeyTime', 'Duration')">
                <span ng-class="{'active-sort': currentSort == 'Duration'}">Duration</span>
                <span ng-if="currentSort == 'Duration'">
                    <i ng-if="reverseSort" class="fa fa-angle-up" aria-hidden="true"></i>
                    <i ng-if="!reverseSort" class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
            <div class="list-item arrTime cpointer" ng-click="changeSort('flights[flights.length].arrDetail.time', 'Arrival')">
                <span ng-class="{'active-sort': currentSort == 'Arrival'}">Arrival</span>
                <span ng-if="currentSort == 'Arrival'">
                    <i ng-if="reverseSort" class="fa fa-angle-up" aria-hidden="true"></i>
                    <i ng-if="!reverseSort" class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
            <div class="list-item airline cpointer" ng-click="changeSort('flights[0].carrier.name', 'Airlines')">
                <span ng-class="{'active-sort': currentSort == 'Airlines'}">Airlines</span>
                <span ng-if="currentSort == 'Airlines'">
                    <i ng-if="reverseSort" class="fa fa-angle-up" aria-hidden="true"></i>
                    <i ng-if="!reverseSort" class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
            <div class="list-item fdetail"></div>
            <div class="list-item price cpointer" ng-click="changeSort('fares.totalFare.total.amount', 'Price')">
                <span ng-class="{'active-sort': currentSort == 'Price'}">Price</span>
                <span ng-if="currentSort == 'Price'">
                    <i ng-if="reverseSort" class="fa fa-angle-up" aria-hidden="true"></i>
                    <i ng-if="!reverseSort" class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
            <div class="list-item book"></div>
        </div>
        <flightlist-item 
            ng-repeat="item in flightList.onwardJourneys | orderBy : sortKey : reverseSort" 
            data="item"> 
        </flightlist-item>    
    </div>
</section>