.day-scale-container {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.empty-day-scale-element {
  width: 100px;
}

.day-scale-container .date-display {
  flex-grow: 1;
  padding-top: 25px;
  flex-basis: 0;
}

.day-text {
  font-size: 11px;
  color: #70757a;
  font-weight: 500;
}

.date-text {
  font-size: 30px;
  color: #70757a;
  padding: 5px 0;
}

.day-text .today {
  color: #1a73e8;
}

.date-text .today {
  width: 35px;
  margin: auto;
  background-color: #1a73e8;
  padding: 3px;
  border-radius: 50%;
  color: white;
}