body{
	padding: 0px;
	margin: 0px;
}
.cpointer{
    cursor: pointer;
}
.no-style{
    list-style: none;
}

/*header css*/
.header-wpr{
	width: 100%;
    position: relative; 
}
.header-wpr .primary-header {
    background: #fff;
    padding: 0;
    height: 100px;
    border-bottom: 5px solid #ED1C24;
}
.header-wpr .primary-header .via-logo{
	height: 95px;
}
.header-wpr .secondary-header {
    height: 80px;
    border-bottom: 1px solid;
}
.filter-wpr{
    padding: 25px 20px;
}
.carrier-filter-list{
    padding: 5px;
    width: 100%;
    border: none;
}
.reset-filters{
    line-height: 50px;
}
.filter-sections{
    padding: 10px;
    text-align: center;
    height: 80px;
    border-right: 1px solid #aaa;
    position: relative;
}
.filter-sections .filter-title{
    color: #12B58A;    
    margin-bottom: 10px;
    font-size: 16px;
}
.price-filter-abs{
    background: #fff;
    padding: 10px;
    height: 150px;
    position: absolute;
    width: 240px;
    top: 80px;
    left: 0px;
    z-index: 10;
    border: 1px solid #D4DEE5;
    overflow-y: auto;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.25);
    border-radius: 0px 0px 4px 4px;
}
.price-filter-abs .price-to, .price-from{
    overflow: hidden;
    margin: 10px 0;
}
/*content css*/
.content-wpr{
	background: #eee;
	padding: 5px;
}
.flight-count{
	margin-top: 10px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
}
.sorting-func{
    width: 100%;
    margin: 10px 0px;
    display: table;
    position: relative;
    height: 40px;
    background-color: #f6f9fc;
    border: 1px solid #d4dee5;
    border-radius: 4px 4px 0px 0px;
    border-bottom-width: 3px;
    font-size: 12px;
    color: #333;
    padding: 5px 0px 0px 5px;
}
.active-sort{
    color: green;
    font-weight: 600;
}
.list-card-wpr{
	background: #fff;
    overflow-x: hidden;
    margin: 10px 0px;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
    transition: 0.5s all ease;
    width: 100%;
    height: 80px;
    padding: 5px 0;
    display: table;
    position: relative;
    border: 2px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.list-card-wpr:hover{
	cursor: pointer;
    box-shadow: 0 1px 2px rgba(43, 59, 93, .29), 0 0 13px rgba(43, 59, 93, .29);
    transition: 0.5s all ease;
}
.list-item{
	padding: 0px 5px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    width: 15%;
    text-align: center;
    position: relative;
}
.list-item.depTime{
    width: 12%;
    text-align: left;
}
.list-item.fltDur{
    width: 16%;
    text-align: left;
}
.list-item.arrTime{
    width: 12%;
    text-align: left;
}
.list-item.airline{
    width: 25%;
    text-align: left;
}
.list-item.airline .airLogo{
	width: 35%;
    float: left;
}
.list-item.airline .airDet{
	width: 65%;
    float: left;
}
.list-item.fdetail{
    width: 15%;
    text-align: left;
}
.list-item.price{
    width: 10%;
    text-align: left;
}
.list-item.price .price-value{
    color: #ed1c24;
    font-size: 18px;
    font-weight: 600;
}
.list-item.book{
    width: 10%;
    text-align: left;
}
.book-btn{
    background: #ed1c24;
    color: #eee;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
}
.routeArrowIcon{
    font-size: 12px;
    margin-bottom: 2px;
    vertical-align: middle;
}