.f-input{
	display: block;
  border: 1px solid #D4D9E2;
  border-radius: 3px;
  color: #596377;
  outline: 0;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
  &.lg{
    padding: 12px;
    font-size: 14px;
  }
  &.full{
		width: 100%;
  }
}