<header>
	Sign using sanket@digio.in
</header>
<section>
	<div class="container-fluid">
		<div class="row row-top">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 column-wrp">
				<div class="content-wrp text-center">
					<div>Gmail Account? Proceed with</div>
					<div class="gmail-btn-container">
						<button class="login-btn google">G+ Gmail</button>
					</div>
					<div>Tip: If using multiple gmail accounts, select the account shown above</div>
				</div>
			</div>
			<div class="or-label">OR</div>
		</div>
		<div class="row row-bottom">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 column-wrp">
				<div class="content-wrp text-center">
					<div>
						<input type="email" placeholder="sanket@digio.in" class="email-input">
					</div>
					<div class="tnc-text">
						By continuing, I confirm to the Terms of Service and Privacy Policy of digio.in
					</div>
					<div><button ui-sref="main" class="login-btn continue">Continue</button></div>
				</div>
			</div>
		</div>
	</div>
</section>